<ion-header>
  <ion-toolbar>
    <ion-title>
      <app-nav-bar pageTitle="Página number 1"></app-nav-bar>

    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<app-user-cad user="Cristiano Ronaldo" description="Cristiano Ronaldo dos Santos Aveiro, conocido como Cristiano Ronaldo, es un futbolista portugués. Juega como extremo izquierdo o delantero y su equipo actual es el Al-Nassr F. C. de la Liga Profesional Saudí."
image="assets/image/CR7.jpg"
></app-user-cad>
<app-user-cad user="Leonel Messi" description="Lionel Andrés Messi Cuccittini, conocido como Leo Messi, es un futbolista argentino que juega como delantero o centrocampista. Desde 2023, integra el plantel del Inter Miami de la MLS estadounidense. Es también internacional con la selección de Argentina, de la que es capitán."
image="assets/image/messi.jpg"
></app-user-cad>
</ion-content>
